<ion-view class="homeView" view-title="Home" hide-nav-bar="true">
	<ion-content>
		<div class="row row-center">
			<div class="col col-center text-center">
				<h1 class="animated bounceInDown" on-tap="HelloWorld()"><span class="fx-box1">E</span>du<span class="fx-box2">N</span>ote</h1>
				<div id="container" class="animated bounceInLeft" on-tap="showUsers()">
					<div class="list card" id="bender">
						<div class="item item-image">
							<img src="img/education-2.png" alt="">
						</div>
					</div>
				</div>
				<button class="button button-outline button-block button-light animated bounceInUp" ui-sref="login">Ingrese</button>
			</div>
		</div>
	</ion-content>
</ion-view>