<ion-view class="itemView pane" view-title="Estudiante" ng-style="{ 'background-color': item.color }" nav-view="active" style="transform: translate3d(0%, 0px, 0px); opacity: 1; " hide-nav-bar="false" >
    <ion-content padding="true" class="has-header">
    <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

        <ion-item ng-repeat="estudiante in estudiantes" item="item"  class="item-remove-animate">
          <i class="icon icon-left ion-pricetag"></i>
          {{ estudiante.NOMBRE }} {{ estudiante.AP}} {{ estudiante.AM}}
          <ion-delete-button class="ion-minus-circled" ng-click="mostrarConfirmacionEliminacion({{bimestre.ID_B}})">
          </ion-delete-button>
          <ion-option-button class="button-energized icon ion-edit" ng-click="openModalEditar(estudiante)">
            
          </ion-option-button>
          <ion-option-button class="button-calm icon ion-eye" ng-click="share()">
            
          </ion-option-button>

        </ion-item>

      </ion-list>
    <br><br><br>
  </ion-content>
  <div class="bar bar-footer bar-light">
        <div class="row">
            <button ng-click="openModalAddEstudiante();" class="col button button-positive ion-person-add"> Adicionar</button>
            <button class="col button button-assertive ion-ios-minus-outline" ng-click="data.showDelete = !data.showDelete; data.showReorder = false"> Borrar</button>
        </div>
  </div>
</ion-view>