<ion-modal-view class="usersModal bigModal">
    <ion-header-bar>
        <h1 class="title">Adicionar Notas</h1>
        <button class="button button-dark icon ion-close-round" ng-click="closeModalSer();"></button>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <form ng-submit="guardarSer(respeto,solidaridad,responsabilidad,puntualidad)" id="datosMaestro-form16" class="list" name="formulario">
            <div class="list">
            {{id_bim}}
                <div class="item item-divider bar bar-assertive">Ser</div>
                    <label class="item item-input item-stacked-label" id="datosMaestro-input19">
                        <span class="input-label">Respeto</span>
                        <input type="text" placeholder="" name="respeto" ng-model="respeto" ng-pattern="/^([0-9]{1,2}|100)$/"ng-required='false'>
                        <span class="assertive h6" ng-show="formulario.respeto.$dirty && formulario.respeto.$invalid"><i class="icon ion-alert"></i>Debe ser un Numero de 0 a 100</span> 
                    </label>
                    <label class="item item-input item-stacked-label" id="datosMaestro-input19">
                        <span class="input-label">Solidaridad</span>
                        <input type="text" placeholder="" name="solidaridad" ng-model="solidaridad" ng-pattern="/^([0-9]{1,2}|100)$/" ng-required="false">
                        <span class="assertive h6" ng-show="formulario.solidaridad.$dirty && formulario.solidaridad.$invalid"><i class="icon ion-alert"></i>Debe ser un numero de 0 a 100</span>          
                    </label>
                    <label class="item item-input item-stacked-label" id="datosMaestro-input19">
                        <span class="input-label">Responsabilidad</span>
                        <input type="text" placeholder="" name="responsabilidad" ng-model="responsabilidad" ng-pattern="/^([0-9]{1,2}|100)$/" ng-required="false">
                        <span class="assertive h6" ng-show="formulario.responsabilidad.$dirty && formulario.responsabilidad.$invalid"><i class="icon ion-alert"></i>Debe ser un numero de 0 a 100</span>          
                    </label> 
                    <label class="item item-input item-stacked-label" id="datosMaestro-input19">
                        <span class="input-label">Puntualidad</span>
                        <input type="text" placeholder="" name="puntualidad" ng-model="puntualidad" ng-pattern="/^([0-9]{1,2}|100)$/" ng-required="false">
                        <span class="assertive h6" ng-show="formulario.puntualidad.$dirty && formulario.puntualidad.$invalid"><i class="icon ion-alert"></i>Debe ser un numero de 0 a 100</span>          
                    </label>
            </div>
        <div id="datosMaestro-button-bar7" class="button-bar">
            <button type="submit"  id="datosMaestro-button30" style="border-radius:50px 50px 50px 50px;" class="button button-positive  button-block icon ion-android-send">Agregar Notas</button>
        </div>
        </form>
    </ion-content>
</ion-modal-view>