<ion-view title="Registro" id="page3">
  <ion-nav-bar class="bar-dark">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button id="inicio-button4" ng-click="openModalAddRegistro();" style="border-radius:215px 215px 215px 215px;" class="button button-calm  icon ion-android-add"></button>
      </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true" class="has-header">
      <div id="inicio-form5" class="list">
        <a class="item item-avatar" ng-click='redirect({{registro.COD_REGISTRO}})' ng-repeat="registro in registros">
          <img src="/img/librito.jpg">
          <h2></h2>
          <p>{{registro.GESTION}} {{registro.NOMBRE_M}} {{registro.NOMBRE_C}} </p>
        </a>
      </div>
  </ion-content>
  <div class="bar bar-footer bar-light">
    <div class="row">
      <!--<button id="inicio-button4" ui-sref=app.addRegistro style="border-radius:215px 215px 215px 215px;" class="button button-calm  icon ion-android-add"></button>
      <button id="inicio-button4" ui-sref=app.persona style="border-radius:215px 215px 215px 215px;" class="button button-assertive  icon ion-android-person"></button>-->
    </div> 
  </div>
</ion-view>